In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./Source/train.csv', index_col='pair_id')
df.head()

,name_1,name_2,is_duplicate
pair_id,,,
1,Iko Industries Ltd.,"Enormous Industrial Trade Pvt., Ltd.",0
2,Apcotex Industries Ltd.,Technocraft Industries (India) Ltd.,0
3,"Rishichem Distributors Pvt., Ltd.",Dsa,0
4,Powermax Rubber Factory,Co. One,0
5,Tress A/S,Longyou Industries Park Zhejiang,0

In [3]:
df.is_duplicate.value_counts(normalize=True)

0    0.992652
1    0.007348
Name: is_duplicate, dtype: float64

#### Проверим сколько названий компаний в столбцах "name_1" и "name_2" содержат кириллические символы

In [4]:
a = ord('а') # кириллическая "А"
rus_alphabet = ''.join([chr(i) for i in range(a,a+6)] + [chr(a+33)] + [chr(i) for i in range(a+6,a+32)])

check = (df.name_1 + df.name_2).apply(lambda x: bool(set(rus_alphabet).intersection(set(x.lower()))))
check.value_counts(normalize=True)

False    0.99507
True     0.00493
dtype: float64

#### распределение целевой переменной при сравнении строк с кириллическими символами:

In [5]:
df[check].is_duplicate.value_counts(normalize=True)

0    0.939283
1    0.060717
Name: is_duplicate, dtype: float64

#### Создадим тестовый датафрейм

In [6]:
# np.random.seed(42)
# test_index = np.concatenate([
#     np.random.choice(df[(~check) & (df.is_duplicate == 0)].index, size=5, replace=False),
#     np.random.choice(df[(~check) & (df.is_duplicate == 1)].index, size=5, replace=False),
#     np.random.choice(df[(check) & (df.is_duplicate == 0)].index, size=5, replace=False),
#     np.random.choice(df[(check) & (df.is_duplicate == 1)].index, size=5, replace=False),
# ])
# test_df = df.loc[test_index]
# test_df

#### Предобработка

In [7]:
import re
import unicodedata
from cleanco import basename
from transliterate.decorators import transliterate_function

def preprocessing(x: str) -> str:
    
    def rus_preprocess(x: str) -> str:
        forms_of_ownership = [
            'ооо',
            'оао',
            'общество с ограниченной ответственностью',
            'открытое акционерное общество',
            'филиал компании'
        ]
        
        for form in forms_of_ownership:
            pattern = re.compile(form)
            x = pattern.sub('', x)
            
        return x
    
    @transliterate_function(language_code='ru', reversed=True)
    def translit(x: str) -> str:
        return x
    
    
    x = x.strip().lower()
    x = basename(x) if not bool(set(rus_alphabet).intersection(set(x.lower()))) else rus_preprocess(x)
    x = unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode() if not bool(set(rus_alphabet).intersection(set(x.lower()))) else translit(x)
    x = basename(x)
    x = re.sub(r'[^\w\s]',' ', x)
    
    return ' '.join([s for s in x.split()]) if len(x.split()) != 0 else '-' * 5
    
test_df = df.copy()
test_df.name_1 = test_df.name_1.apply(lambda x: preprocessing(x))
test_df.name_2 = test_df.name_2.apply(lambda x: preprocessing(x))
test_df

,name_1,name_2,is_duplicate
pair_id,,,
1,iko industries,enormous industrial trade,0
2,apcotex industries,technocraft industries india,0
3,rishichem distributors,dsa,0
4,powermax rubber factory,co one,0
5,tress,longyou industries park zhejiang,0
...,...,...,...
497815,bit mat products,the goodyear tire and rubber,0
497816,bnd trading,zhong shan yue liang economy trade imp exp,0
497817,xeikon industrial co ltd of dongguan city,yi cheng trading co ltd of dongguan city,0
497818,shanghai kechuan trading,shanghai m g stationery,0
497819,dih wei industries,burlington industries corporate,0

#### Генерация доп. фичей

In [ ]:
import difflib # встроенная библиотека

import abydos.distance as abd
# from thefuzz import fuzz as fuzz_ # даёт результат идентичный библиотеке fuzzywuzzy
from fuzzywuzzy import fuzz
from strsimpy.cosine import Cosine
import Levenshtein, distance, jellyfish, textdistance

import warnings

warnings.filterwarnings("ignore")


def tdc_n(seq1, seq2, n):
    cosine = Cosine(n)
    p1 = cosine.get_profile(seq1)
    p2 = cosine.get_profile(seq2)
    return cosine.similarity_profiles(p1, p2)


feature_df = test_df.copy()

In [10]:
# Levenshtein
feature_df.insert(2, 'l', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: Levenshtein.ratio(*x.split('|'))))

# Discounted_Levenshtein
feature_df.insert(3, 'dl', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: abd.DiscountedLevenshtein().sim(*x.split('|'))))

# String Subsequence Kernel Similarity
feature_df.insert(4, 'ssk', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: abd.SSK().sim(*x.split('|'))))

# Token Sort Ratio
feature_df.insert(5, 'ts', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: fuzz.token_sort_ratio(*x.split('|')) / 100))

# Token Set Ratio
feature_df.insert(6, 'tsr', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: fuzz.token_set_ratio(*x.split('|')) / 100))

# Partial Ratio
feature_df.insert(7, 'pr', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: fuzz.partial_ratio(*x.split('|')) / 100))

# Weighted Ratio
feature_df.insert(8, 'wr', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: fuzz.WRatio(*x.split('|')) / 100))

# Sequence Matcher Ratio
feature_df.insert(9, 'smr', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: difflib.SequenceMatcher(None, *x.split('|')).ratio()))

In [11]:
feature_df.to_csv('./Source/feature_1.csv')

In [12]:
# Sorensen Distance
feature_df.insert(10, 'sd', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: 1 - distance.sorensen(*x.split('|'))))

# Jaccard Distance
feature_df.insert(11, 'jd', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: 1 - distance.jaccard(*x.split('|'))))

# Jaro Similarity
feature_df.insert(12, 'js', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: jellyfish.jaro_similarity(*x.split('|'))))

# Jaro-Winkler Similarity
feature_df.insert(13, 'jws', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: jellyfish.jaro_winkler_similarity(*x.split('|'))))

# Match Rating Approach
feature_df.insert(14, 'mra', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: int(False if jellyfish.match_rating_comparison(*x.split('|')) is None else jellyfish.match_rating_comparison(*x.split('|')))))

# Text Distance Cosine
feature_df.insert(15, 'tdc', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: 1-textdistance.Cosine(qval=2).distance(*x.split('|'))))

# Text Distance Cosine n=1
feature_df.insert(16, 'tdc_1', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: tdc_n(*x.split('|'), 1)))

# Text Distance Cosine n=2
feature_df.insert(17, 'tdc_2', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: tdc_n(*x.split('|'), 2)))

In [13]:
feature_df.to_csv('./Source/feature_2.csv')

In [15]:
# Bag
feature_df.insert(18, 'bag', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: abd.Bag().sim(*x.split('|'))))

# Monge-Elkan similarity
feature_df.insert(19, 'mes', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: abd.MongeElkan(symmetric=False).sim(*x.split('|'))))

# Monge-Elkan symmetric similarity
feature_df.insert(20, 'mess', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: abd.MongeElkan(symmetric=True).sim(*x.split('|'))))

# Rouge-W similarity
feature_df.insert(21, 'rws', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: abd.RougeW().sim(*x.split('|'))))

# Positional Q-Gram Dice coefficient
feature_df.insert(22, 'pqgdc', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: abd.PositionalQGramDice().sim(*x.split('|'))))

# Positional Q-Gram Jaccard coefficient
feature_df.insert(23, 'pqgjc', (test_df.name_1 + '|' + test_df.name_2).apply(lambda x: abd.PositionalQGramJaccard().sim(*x.split('|'))))

In [16]:
feature_df.to_csv('./Source/feature_2.csv')

In [17]:
feature_df.insert(24, 'mean', feature_df[feature_df.columns[2:-1]].mean(axis=1))
# feature_df.insert(26, 'weighted_mean', feature_df[feature_df.columns[2:-2]].apply(lambda row: weighted_mean(row, weights)))

In [18]:
feature_df.iloc[:, 2:].corr()

,l,dl,ssk,ts,tsr,pr,wr,smr,sd,jd,...,tdc_1,tdc_2,bag,mes,mess,rws,pqgdc,pqgjc,mean,is_duplicate
l,1.000000,0.930228,0.894573,0.935335,0.881770,0.477329,0.624772,0.972621,0.824291,0.827531,...,0.808234,0.875484,0.874712,0.736587,0.905618,0.572279,0.415123,0.415167,0.955858,0.104937
dl,0.930228,1.000000,0.822208,0.857937,0.807564,0.501617,0.601424,0.917259,0.708184,0.723301,...,0.713717,0.838443,0.769119,0.680520,0.836104,0.574796,0.542356,0.543181,0.914643,0.184686
ssk,0.894573,0.822208,1.000000,0.863069,0.827824,0.448070,0.600033,0.859381,0.860262,0.867558,...,0.930352,0.866835,0.828948,0.753359,0.926523,0.479808,0.345636,0.343749,0.924015,0.096755
ts,0.935335,0.857937,0.863069,1.000000,0.898533,0.424004,0.599309,0.911442,0.818799,0.820476,...,0.799240,0.849986,0.858845,0.718849,0.883810,0.542739,0.393220,0.394799,0.921872,0.107682
tsr,0.881770,0.807564,0.827824,0.898533,1.000000,0.508408,0.745511,0.873158,0.758566,0.756003,...,0.753891,0.870161,0.737737,0.719560,0.883945,0.584962,0.344431,0.344780,0.909390,0.140547
pr,0.477329,0.501617,0.448070,0.424004,0.508408,1.000000,0.808059,0.529649,0.240181,0.253259,...,0.375142,0.602777,0.135283,0.429395,0.527627,0.572233,0.224022,0.228989,0.563779,0.104987
wr,0.624772,0.601424,0.600033,0.599309,0.745511,0.808059,1.000000,0.657695,0.455041,0.450822,...,0.541434,0.722423,0.319022,0.563514,0.692139,0.572170,0.236923,0.236848,0.709550,0.105384
smr,0.972621,0.917259,0.859381,0.911442,0.873158,0.529649,0.657695,1.000000,0.768471,0.775855,...,0.758031,0.889361,0.816460,0.733620,0.889648,0.619276,0.417325,0.417384,0.943542,0.105378
sd,0.824291,0.708184,0.860262,0.818799,0.758566,0.240181,0.455041,0.768471,1.000000,0.989923,...,0.871347,0.721154,0.867349,0.707122,0.870860,0.353611,0.278273,0.271447,0.840326,0.071930
jd,0.827531,0.723301,0.867558,0.820476,0.756003,0.253259,0.450822,0.775855,0.989923,1.000000,...,0.853502,0.735957,0.870859,0.703775,0.866338,0.368603,0.297912,0.294024,0.847228,0.083018
js,0.660829,0.676975,0.660827,0.620986,0.557072,0.407724,0.422958,0.639575,0.588606,0.588531,...,0.650388,0.587350,0.612388,0.525718,0.645583,0.387940,0.396460,0.390429,0.711935,0.139736
jws,0.660014,0.690001,0.658896,0.619889,0.558598,0.408352,0.424371,0.639114,0.584215,0.585329,...,0.645292,0.588412,0.608952,0.525290,0.644975,0.386995,0.423739,0.415481,0.715075,0.175123
mra,0.565444,0.577585,0.495049,0.502976,0.530433,0.298841,0.395828,0.552746,0.424946,0.437723,...,0.416677,0.511912,0.452483,0.432804,0.530925,0.354362,0.270825,0.270687,0.635928,0.106583
tdc,0.887555,0.848705,0.856003,0.861698,0.879797,0.606303,0.723309,0.903570,0.727749,0.743008,...,0.743779,0.986640,0.714884,0.758612,0.932133,0.651436,0.398899,0.402781,0.931644,0.120530
tdc_1,0.808234,0.713717,0.930352,0.799240,0.753891,0.375142,0.541434,0.758031,0.871347,0.853502,...,1.000000,0.755493,0.795956,0.723265,0.890688,0.394085,0.280571,0.273293,0.852219,0.073433
tdc_2,0.875484,0.838443,0.866835,0.849986,0.870161,0.602777,0.722423,0.889361,0.721154,0.735957,...,0.755493,1.000000,0.702830,0.759702,0.933437,0.637750,0.394489,0.395882,0.926588,0.119674
bag,0.874712,0.769119,0.828948,0.858845,0.737737,0.135283,0.319022,0.816460,0.867349,0.870859,...,0.795956,0.702830,1.000000,0.642070,0.790071,0.365969,0.375807,0.374716,0.826539,0.073317
mes,0.736587,0.680520,0.753359,0.718849,0.719560,0.429395,0.563514,0.733620,0.707122,0.703775,...,0.723265,0.759702,0.642070,1.000000,0.813133,0.819610,0.297421,0.293866,0.819646,0.092007
mess,0.905618,0.836104,0.926523,0.883810,0.883945,0.527627,0.692139,0.889648,0.870860,0.866338,...,0.890688,0.933437,0.790071,0.813133,1.000000,0.560065,0.365484,0.361151,0.957437,0.111238
rws,0.572279,0.574796,0.479808,0.542739,0.584962,0.572233,0.572170,0.619276,0.353611,0.368603,...,0.394085,0.637750,0.365969,0.819610,0.560065,1.000000,0.281072,0.293026,0.647653,0.100501
pqgdc,0.415123,0.542356,0.345636,0.393220,0.344431,0.224022,0.236923,0.417325,0.278273,0.297912,...,0.280571,0.394489,0.375807,0.297421,0.365484,0.281072,1.000000,0.990247,0.471202,0.258215
pqgjc,0.415167,0.543181,0.343749,0.394799,0.344780,0.228989,0.236848,0.417384,0.271447,0.294024,...,0.273293,0.395882,0.374716,0.293866,0.361151,0.293026,0.990247,1.000000,0.470313,0.278260
mean,0.955858,0.914643,0.924015,0.921872,0.909390,0.563779,0.709550,0.943542,0.840326,0.847228,...,0.852219,0.926588,0.826539,0.819646,0.957437,0.647653,0.471202,0.470313,1.000000,0.146541
is_duplicate,0.104937,0.184686,0.096755,0.107682,0.140547,0.104987,0.105384,0.105378,0.071930,0.083018,...,0.073433,0.119674,0.073317,0.092007,0.111238,0.100501,0.258215,0.278260,0.146541,1.000000

In [19]:
feature_df.to_csv('./Source/feature_all.csv')