In [1]:
# !pip install pandas &&\
#  pip install sklearn &&\
#  pip install xgboost

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\Shkolaynski.MOKB\DataspellProjects\ITMO_DL_in_practice_02\Source\feature_all.csv', index_col='pair_id')
df.drop(columns=['mra', 'mean'], inplace=True)
df.head()

,name_1,name_2,l,dl,ssk,ts,tsr,pr,wr,smr,...,tdc,tdc_1,tdc_2,bag,mes,mess,rws,pqgdc,pqgjc,is_duplicate
pair_id,,,,,,,,,,,,,,,,,,,,,
1,iko industries,enormous industrial trade,0.564103,0.381090,0.589480,0.56,0.56,0.71,0.64,0.564103,...,0.452911,0.806060,0.524142,0.480000,0.766667,0.719872,0.646835,0.04878,0.025,0
2,apcotex industries,technocraft industries india,0.608696,0.424665,0.671847,0.52,0.71,0.72,0.86,0.565217,...,0.513436,0.893188,0.591080,0.571429,0.789474,0.765426,0.620774,0.00000,0.000,0
3,rishichem distributors,dsa,0.160000,0.119396,0.052106,0.16,0.16,0.67,0.60,0.080000,...,0.000000,0.326599,0.000000,0.090909,0.195652,0.347826,0.079790,0.00000,0.000,0
4,powermax rubber factory,co one,0.206897,0.157061,0.108644,0.34,0.34,0.33,0.43,0.137931,...,0.000000,0.474342,0.000000,0.217391,0.333333,0.416667,0.098339,0.00000,0.000,0
5,tress,longyou industries park zhejiang,0.216216,0.143389,0.156880,0.22,0.22,0.80,0.72,0.216216,...,0.179605,0.425210,0.174078,0.156250,0.666667,0.446970,0.522295,0.00000,0.000,0

In [4]:
df.columns[2:]

Index(['l', 'dl', 'ssk', 'ts', 'tsr', 'pr', 'wr', 'smr', 'sd', 'jd', 'js',
       'jws', 'tdc', 'tdc_1', 'tdc_2', 'bag', 'mes', 'mess', 'rws', 'pqgdc',
       'pqgjc', 'is_duplicate'],
      dtype='object')

In [5]:
from sklearn.model_selection import train_test_split #, GridSearchCV
# from sklearn.ensemble import GradientBoostingClassifier
import xgboost as xgb

In [25]:
x_train, x_test, y_train, y_test = train_test_split(df.loc[:, ['tsr', 'jws']], df.iloc[:, -1], test_size=0.3, random_state=42)

In [26]:
model = xgb.XGBClassifier()
model.fit(x_train, y_train)
y_pred = model.predict_proba(x_test)[:, 1]

In [27]:
from sklearn.metrics import precision_recall_curve, confusion_matrix

In [28]:
precision, recall, thresholds = precision_recall_curve(y_test, y_pred)
b = 1
fscore = (1 + b**2) * precision * recall / (b**2 * precision + recall)
ix = np.argmax(fscore)
print('Best Threshold=%f, F-Score=%.3f, Precision=%.3f, Recall=%.3f' % (thresholds[ix], 
                                                                        fscore[ix],
                                                                        precision[ix],
                                                                        recall[ix]))

Best Threshold=0.285989, F-Score=0.575, Precision=0.601, Recall=0.551

In [11]:
# найдём строки ближайшие к данной
input_str = 'Bridgestone De Costa Rica Sociedad Anoni'

In [12]:
# pip install unicodedata &&\
# !pip install cleanco &&\
#  pip install transliterate

In [13]:
import re
import unicodedata
from cleanco import basename
from transliterate.decorators import transliterate_function


def preprocessing(x: str) -> str:
    
    def rus_preprocess(x: str) -> str:
        forms_of_ownership = [
            'ооо',
            'оао',
            'общество с ограниченной ответственностью',
            'открытое акционерное общество',
            'филиал компании'
        ]
        
        for form in forms_of_ownership:
            pattern = re.compile(form)
            x = pattern.sub('', x)
            
        return x
    
    @transliterate_function(language_code='ru', reversed=True)
    def translit(x: str) -> str:
        return x
    
    
    x = x.strip().lower()
    x = basename(x) if not bool(set(rus_alphabet).intersection(set(x.lower()))) else rus_preprocess(x)
    x = unicodedata.normalize('NFKD', x).encode('ASCII', 'ignore').decode() if not bool(set(rus_alphabet).intersection(set(x.lower()))) else translit(x)
    x = basename(x)
    x = re.sub(r'[^\w\s]',' ', x)
    
    return ' '.join([s for s in x.split()]) if len(x.split()) != 0 else '-' * 5
    

a = ord('а') # кирилическая "А"
rus_alphabet = ''.join([chr(i) for i in range(a,a+6)] + [chr(a+33)] + [chr(i) for i in range(a+6,a+32)])
    
input_str = preprocessing(input_str)
test_df = df[['name_2', 'is_duplicate']].copy()
test_df.name_2 = test_df.name_2.apply(lambda x: preprocessing(x))

In [14]:
# !pip install abydos &&\
#  pip install fuzzywuzzy &&\
#  pip install strsimpy &&\
#  pip install Levenshtein &&\
#  pip install distance &&\
#  pip install jellyfish &&\
#  pip install textdistance

In [15]:
# import difflib # встроенная библиотека

import abydos.distance as abd
from fuzzywuzzy import fuzz
# from strsimpy.cosine import Cosine
import jellyfish
# import Levenshtein, distance, textdistance

import warnings

warnings.filterwarnings("ignore")


# def tdc_n(seq1, seq2, n):
#     cosine = Cosine(n)
#     p1 = cosine.get_profile(seq1)
#     p2 = cosine.get_profile(seq2)
#     return cosine.similarity_profiles(p1, p2)


model_df = test_df.copy()

In [16]:
# # Levenshtein
# model_df.insert(1, 'l', test_df.name_2.apply(lambda x: Levenshtein.ratio(input_str, x)))

In [17]:
# # Discounted_Levenshtein
# model_df.insert(2, 'dl', test_df.name_2.apply(lambda x: abd.DiscountedLevenshtein().sim(input_str, x)))

# # String Subsequence Kernel Similarity
# model_df.insert(3, 'ssk', test_df.name_2.apply(lambda x: abd.SSK().sim(input_str, x)))

# # Token Sort Ratio
# model_df.insert(4, 'ts', test_df.name_2.apply(lambda x: fuzz.token_sort_ratio(input_str, x) / 100))

# Token Set Ratio
model_df.insert(1, 'tsr', test_df.name_2.apply(lambda x: fuzz.token_set_ratio(input_str, x) / 100))

# # Partial Ratio
# model_df.insert(6, 'pr', test_df.name_2.apply(lambda x: fuzz.partial_ratio(input_str, x) / 100))

# # Weighted Ratio
# model_df.insert(7, 'wr', test_df.name_2.apply(lambda x: fuzz.WRatio(input_str, x) / 100))

# # Sequence Matcher Ratio
# model_df.insert(8, 'smr', test_df.name_2.apply(lambda x: difflib.SequenceMatcher(None, input_str, x).ratio()))

In [18]:
# нужно сохранять промежуточный результат
model_df.to_csv(r'C:\Users\Shkolaynski.MOKB\DataspellProjects\ITMO_DL_in_practice_02\Source\model_1.csv')

In [19]:
# # Sorensen Distance
# model_df.insert(10, 'sd', test_df.name_2.apply(lambda x: 1 - distance.sorensen(input_str, x)))

# # Jaccard Distance
# model_df.insert(11, 'jd', test_df.name_2.apply(lambda x: 1 - distance.jaccard(input_str, x)))

# # Jaro Similarity
# model_df.insert(12, 'js', test_df.name_2.apply(lambda x: jellyfish.jaro_similarity(input_str, x)))

# Jaro-Winkler Similarity
model_df.insert(2, 'jws', test_df.name_2.apply(lambda x: jellyfish.jaro_winkler_similarity(input_str, x)))

# # Match Rating Approach
# model_df.insert(14, 'mra', test_df.name_2.apply(lambda x: int(False if jellyfish.match_rating_comparison(input_str, x) is None else jellyfish.match_rating_comparison(input_str, x))))

# # Text Distance Cosine
# model_df.insert(15, 'tdc', test_df.name_2.apply(lambda x: 1-textdistance.Cosine(qval=2).distance(input_str, x)))

# # Text Distance Cosine n=1
# model_df.insert(16, 'tdc_1', test_df.name_2.apply(lambda x: tdc_n(input_str, x, 1)))

# # Text Distance Cosine n=2
# model_df.insert(17, 'tdc_2', test_df.name_2.apply(lambda x: tdc_n(input_str, x, 2)))

In [20]:
# нужно сохранять промежуточный результат
# model_df.to_csv(r'C:\Users\Shkolaynski.MOKB\DataspellProjects\ITMO_DL_in_practice_02\Source\model_2.csv')

In [21]:
# # Bag
# model_df.insert(18, 'bag', test_df.name_2.apply(lambda x: abd.Bag().sim(input_str, x, 2)))

# # Monge-Elkan similarity
# model_df.insert(19, 'mes', test_df.name_2.apply(lambda x: abd.MongeElkan(symmetric=False).sim(input_str, x, 2)))

# # Monge-Elkan symmetric similarity
# model_df.insert(20, 'mess', test_df.name_2.apply(lambda x: abd.MongeElkan(symmetric=True).sim(input_str, x, 2)))

# # Rouge-W similarity
# model_df.insert(21, 'rws', test_df.name_2.apply(lambda x: abd.RougeW().sim(input_str, x, 2)))

# # Positional Q-Gram Dice coefficient
# model_df.insert(22, 'pqgdc', test_df.name_2.apply(lambda x: abd.PositionalQGramDice().sim(input_str, x, 2)))

# # Positional Q-Gram Jaccard coefficient
# model_df.insert(23, 'pqgjc', test_df.name_2.apply(lambda x: abd.PositionalQGramJaccard().sim(input_str, x, 2)))

In [22]:
model_df.to_csv(r'C:\Users\Shkolaynski.MOKB\DataspellProjects\ITMO_DL_in_practice_02\Source\model_all.csv')

In [ ]:
# найдём строки ближайшие к данной
input_str = 'Bridgestone De Costa Rica Sociedad Anoni'

In [39]:
df.loc[model_df.sort_values(['tsr', 'jws'], ascending=False).index, 'name_2'].head(30)

pair_id
18774     bridgestone de costa rica sociedad anoni
24799     bridgestone de costa rica sociedad anoni
32272     bridgestone de costa rica sociedad anoni
71032     bridgestone de costa rica sociedad anoni
113396    bridgestone de costa rica sociedad anoni
120571    bridgestone de costa rica sociedad anoni
185306    bridgestone de costa rica sociedad anoni
185484    bridgestone de costa rica sociedad anoni
195416    bridgestone de costa rica sociedad anoni
205919    bridgestone de costa rica sociedad anoni
218612    bridgestone de costa rica sociedad anoni
244148    bridgestone de costa rica sociedad anoni
249786    bridgestone de costa rica sociedad anoni
274590    bridgestone de costa rica sociedad anoni
296905    bridgestone de costa rica sociedad anoni
306663    bridgestone de costa rica sociedad anoni
333641    bridgestone de costa rica sociedad anoni
338569    bridgestone de costa rica sociedad anoni
340533    bridgestone de costa rica sociedad anoni
341883    bridgestone de costa rica sociedad anoni
342389    bridgestone de costa rica sociedad anoni
352919    bridgestone de costa rica sociedad anoni
359647    bridgestone de costa rica sociedad anoni
362239    bridgestone de costa rica sociedad anoni
383346    bridgestone de costa rica sociedad anoni
401205    bridgestone de costa rica sociedad anoni
413621    bridgestone de costa rica sociedad anoni
415529    bridgestone de costa rica sociedad anoni
426490    bridgestone de costa rica sociedad anoni
443833    bridgestone de costa rica sociedad anoni
Name: name_2, dtype: object

In [35]:
df.loc[24799, :]

name_1                                            vystar
name_2          bridgestone de costa rica sociedad anoni
l                                               0.173913
dl                                              0.122014
ssk                                             0.107007
ts                                                  0.17
tsr                                                 0.17
pr                                                  0.67
wr                                                   0.6
smr                                             0.173913
sd                                              0.421053
jd                                              0.266667
js                                              0.422222
jws                                             0.422222
tdc                                             0.143223
tdc_1                                           0.376854
tdc_2                                           0.191663
bag                                                  0.1
mes                                             0.571429
mess                                            0.432056
rws                                             0.484783
pqgdc                                                0.0
pqgjc                                                0.0
is_duplicate                                           0
Name: 24799, dtype: object